
.title {
    font-family: 'Times New Roman', Times, sans-serif;
    font-size: xx-large;
    /* was a cool bit of logic until ryan ruined it */
   /* background: linear-gradient(to right,rgb(150, 27, 212), rgb(36, 142, 152));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;*/
    border: solid 3px;
    padding: 2px;
    margin-right: 3px;
    
}

.add{
    background-color: greenyellow;
}

.input {
    margin-top: 20px;
}
/*
.navbar {
    list-style-type: none;
    background-color: lightslategray;
    display: block;
    height: 100%;
    position: fixed;
    width: 25%;
    overflow: auto;
}
*/

/* TODO
implement a side bar nav menu
*/
/* TODO
adjust margin left
*/

.button1 {
    font-family: sans-serif;
    border-radius: 8%;
    color: black;
    cursor: pointer;
    display: block;
    position: relative;
    left: 50%;
}

/* TODO
return and correct margin-left. current set is placeholder
*/
.button2 {
    font-family: sans-serif;
    color: black;
    border-radius: 8%;
    margin-top: 10px;
    cursor: pointer;
    display: block;
    position: relative;
    left: 50%;
}



