
.title {
    font-family: sans-serif;
    font-size: xx-large;
    text-decoration: underline;
}

/* TODO
implement a side bar nav menu
*/
/* TODO
adjust margin left
*/

.button1 {
    font-family: sans-serif;
    border-radius: 8%;
    color: black;
    background-color: lightgreen;
    cursor: pointer;
    margin-left: 10px;
}
/* TODO
return and correct margin-left. current set is placeholder
*/
.button2 {
    font-family: sans-serif;
    color: aliceblue;
    background-color: red;
    margin-left: 10px;
    border-radius: 8%;
    margin-top: 10px;
    cursor: pointer;
}

